body {
    text-align: center;
}

.content {
    padding-left: 5em;
    padding-right: 5em;
}

.form-group {
    padding-bottom: 2.5em;
    margin-bottom: 0;
}

.header {
    background: #5C84C8;
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 1em;
}

#btn-submit {
    margin-top: 6px;
}