body {
    text-align: center;
}

.content {
    padding-left: 5em;
    padding-right: 5em;
}

.form-group {
    padding-bottom: 2.5em;
    margin-bottom: 0;
}

.form-check {
    padding-left: 25px;
}
.form-check-input {
    margin-left: -25px;
}

.header {
    background: #5C84C8;
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 1em;
}

.center-msg {
    margin: auto;
    margin-top: 5em;
}

#form-section {
    width: 60%;
    margin: auto;
    margin-bottom: 4em;
}

#req_and_recs {
    text-align: left;
    margin-top: 2em;
}

#upload-form {
    text-align: left;
    margin-top: 3em;
}

#btn-submit {
    margin-top: 1.5em;
}

@media only screen and (max-width: 768px) {
    #form-section {
        width: 90% important;
    }
}
