<!DOCTYPE html>
<html lang="en">
<head>
	<title>EQUiSat Decoder</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-81745247-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-81745247-3');
    </script>
	<meta charset="UTF-8">
    <meta name="description" content="A website for decoding receptions of Brown Space Engineering's satellite EQUiSat, by uploading NFM-demodulated (narrow frequency modulation) recordings of transmissions">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/ico" href="static/images/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
<!--===============================================================================================-->
</head>
<body>
    <div class="header">
        <div id="navbar" class="page-width">
            <div id="title">
                <a href="http://equisat.brownspace.org" target="_blank" rel="noopener noreferrer"><img src="/static/images/sat_logo.7bf319bf.png" alt="equisat" class="satLogo" width="35px" height="35px"></a>
                EQUiSat FM Decoder
            </div>
            <div id="social-links">
                <a href="http://www.brownspace.org" target="_blank" rel="noopener noreferrer"><img src="/static/images/bse_white.c05204cf.png" alt="logo" class="bseLogo" width="35px" height="35px"></a>
                <a href="https://www.facebook.com/browncubesat" target="_blank" rel="noopener noreferrer"><img src="/static/images/facebook.fb8c32a1.png" alt="fb" width="35px" height="35px"></a>
                <a href="https://www.twitter.com/browncubesat" target="_blank" rel="noopener noreferrer"><img src="/static/images/twitter.a94e3776.png" alt="tw" width="35px" height="35px"></a>
                <a href="https://www.github.com/BrownSpaceEngineering" target="_blank" rel="noopener noreferrer"><img src="/static/images/github.60fefc28.png" alt="gh" width="35px" height="35px"></a>
                <a href="mailto:bse@brown.edu" target="_blank" rel="noopener noreferrer"><img src="/static/images/mail.201c9b1a.png" alt="mail" width="35px" height="35px"></a></div>
            </div>
        </div>
    </div>

    <div id="form-section" class="page-width">
        <div id="req_and_recs">
            <h5>This website allows you to decode receptions of Brown Space Engineering's first satellite <a href="https://brownspace.org/equisat">EQUiSat</a>, by uploading NFM-demodulated (narrow frequency modulation) recordings and receiving an email with any data decoded from the transmission. You can also automatically submit that data to our database and have your reception posted publicly on Twitter!</h5>
            <p>We have a few recommendations for how to successfully produce these files:</p>

            <h4>Recommendations:</h4>
            <ul class="info_list">
                <li>You can learn <a href="https://brownspace.org/receiving-equisat/">how to receive EQUiSat here</a>.</li>
                <li>This app is intended for you to upload your best receptions rather than prolonged pass recordings.</li>
                <li>You'll need to either doppler-correct while receiving the satellite or you should tune the frequency before recording each packet burst</li>
                <li>The best way to receive EQUiSat with doppler correction is to pair a software-defined radio (SDR) with a satellite tracker. <a href="http://www.pe0sat.vgnet.nl/decoding/unix-tlm-decoding/">GQRX and GPredict</a> are a great combo for linux/mac, and <a href="https://www.youtube.com/watch?v=EK-sasjSAcg">SDRsharp and Orbitron</a> are good for Windows. With doppler correction you can simply record NFM audio throughout the entire pass and edit it later.</li>
                <li>Alternatively, if you're using a SDR and don't have doppler correction set up, the best approach is:
                    <ol>
                        <li>Record the raw IQ data (baseband RF) during a pass</li>
                        <li>Replay the IQ recording and visually look for packets</li>
                        <li>Once you see one, visually line up the frequency you're tuned to to the center of the packet waveform</li>
                        <li>Rewind the IQ recording and record the FM audio at your configured frequency</li>
                    </ol>
                </li>
                <li>You can also record audio from a handheld or other hardware NFM radio, while performing manual doppler correction or using <a href="https://vk4tmz.blogspot.com/2018/07/gpredict-radio-control-ft991a-via.html">rigctl</a>.</li>
                <li>You will likely need to shorten the recording to just the best packets before submitting it here. We recommend using an audio editor such as <a href="https://www.audacityteam.org/download/">Audacity</a> to do this (File->Export->Export Selected Audio is a useful trick)</li>
                <li>Lowering the bandwidth and applying noise filters always helps, but make sure not to significantly clip the signal</li>
                <li>For reference and comparison, <a href="/static/good_equisat_fm_recording.wav">this is an example</a> of an FM recording which will be successfully decoded by this app (please don't submit it to our database).</li>
            </ul>

            <p><strong>This app and decoder are still experimental, and currently a very clean signal is required to successfully decode a packet. So don't get discouraged, and check back in the future as we make improvements!</strong></p>
            <p>Note that this app will email you even if the decoder found no data.</p>

        </div>

        <div id="upload-form">
            <h4>Transmission Upload Form</h4>
            <p></p>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="email1">FM-demodulated WAV recording</label>
                    <input type="file" name="wavfile" id="wavfile-upload" class="form-control-file" aria-describedby="fileHelp">
                    <small id="fileHelp" class="form-text text-muted">Must be a .wav file below {{ max_wavfile_size_b / 1000000 }} MB in size and under {{ max_wavfile_duration_s }}s in duration.</small>
                </div>

                <div class="form-group">
                    <label for="email1">Email address</label>
                    <input type="email" name="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We don't store your email address after sending you the results.</small>
                </div>
                <div class="form-group">
                    <label>Station name</label>
                    <input type="text" name="station_name" class="form-control" id="station_name1" aria-describedby="stationNameHelp" placeholder="Enter station identifier">
                    <small id="stationNameHelp" class="form-text text-muted">Your name, callsign, or just the name of the receiving station. You can leave this blank if you want to be anonymous. </small>
                </div>

                <div class="form-group">
                  <label>Time received (date, time, and timezone)</label>
                  <div class="input-group">
                    <input type="date" name="rx_time_date" aria-label="Date" class="form-control" placeholder="yyyy-mm-dd" aria-describedby="receiveTimeHelp">
                    <input type="time" name="rx_time_time" aria-label="Time" class="form-control" placeholder="hh:mm">
                      <!--from https://gist.github.com/nodesocket/3919205-->
                    <select name="rx_time_timezone">
                      <option value="-12:00">(GMT -12:00) Eniwetok, Kwajalein</option>
                      <option value="-11:00">(GMT -11:00) Midway Island, Samoa</option>
                      <option value="-10:00">(GMT -10:00) Hawaii</option>
                      <option value="-09:50">(GMT -9:30) Taiohae</option>
                      <option value="-09:00">(GMT -9:00) Alaska</option>
                      <option value="-08:00">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
                      <option value="-07:00">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
                      <option value="-06:00">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
                      <option value="-05:00">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
                      <option value="-04:50">(GMT -4:30) Caracas</option>
                      <option value="-04:00">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
                      <option value="-03:50">(GMT -3:30) Newfoundland</option>
                      <option value="-03:00">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
                      <option value="-02:00">(GMT -2:00) Mid-Atlantic</option>
                      <option value="-01:00">(GMT -1:00) Azores, Cape Verde Islands</option>
                      <option value="+00:00" selected="selected">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
                      <option value="+01:00">(GMT +1:00) Brussels, Copenhagen, Madrid, Paris</option>
                      <option value="+02:00">(GMT +2:00) Kaliningrad, South Africa</option>
                      <option value="+03:00">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
                      <option value="+03:50">(GMT +3:30) Tehran</option>
                      <option value="+04:00">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
                      <option value="+04:50">(GMT +4:30) Kabul</option>
                      <option value="+05:00">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
                      <option value="+05:50">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
                      <option value="+05:75">(GMT +5:45) Kathmandu, Pokhara</option>
                      <option value="+06:00">(GMT +6:00) Almaty, Dhaka, Colombo</option>
                      <option value="+06:50">(GMT +6:30) Yangon, Mandalay</option>
                      <option value="+07:00">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
                      <option value="+08:00">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
                      <option value="+08:75">(GMT +8:45) Eucla</option>
                      <option value="+09:00">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
                      <option value="+09:50">(GMT +9:30) Adelaide, Darwin</option>
                      <option value="+10:00">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
                      <option value="+10:50">(GMT +10:30) Lord Howe Island</option>
                      <option value="+11:00">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
                      <option value="+11:50">(GMT +11:30) Norfolk Island</option>
                      <option value="+12:00">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
                      <option value="+12:75">(GMT +12:45) Chatham Islands</option>
                      <option value="+13:00">(GMT +13:00) Apia, Nukualofa</option>
                      <option value="+14:00">(GMT +14:00) Line Islands, Tokelau</option>
                    </select>
                  </div>
                  <small id="receiveTimeHelp" class="form-text text-muted">Your best estimate of the exact time you started receiving this audio. The more precise the better! </small>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="submit_to_db" name="submit_to_db">
                  <label class="form-check-label" for="submit_to_db">
                    Submit received data to our database? (we'd really appreciate it)
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="post_publicly" name="post_publicly">
                  <label class="form-check-label" for="submit_to_db">
                      Post your data with <a href="https://twitter.com/equisat_bot">our Twitter bot</a>?
                  </label>
                </div>
                <input type="submit" id="btn-submit" class="btn btn-success" value="Submit">
            </form>
        </div>
    </div>

<!--===============================================================================================-->
	<script src="static/js/main.js"></script>
<!--===============================================================================================-->
	<script src="static/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
</body>
</html>